$sideBarWidth: 200px;

$colors-background: (
  header-bg: #2f364a,
  li-bg: #19202e,
  user-acc: #15a4fa,
  col-white: #fff,
  side-bar: #181e2c,
  side-bar-item: #1f2637,
  button: #f2795a,
  h1-bg: #eef1f7,
  li-hover: #97b3ce
);

$colors-text: (
  header-txt: #78829d,
  col-white: #fff,
  side-bar: #78829d,
  p-col: #dbe3f0,
  span-list: #97b3ce,
  h1-col: #444c63,
  li-col: #8c97b2,
  h3-col: #444c63,
  span-item: #6f7d95,
  star-yellow: #ffab00
);

$colors-marks: (
  logo-red: #e76847,
  logo-yellow: #fabf00,
  logo-green: #52bea6,
  list-red: #e64c66,
  list-orange: #ffab00,
  list-blue: #00bfdd,
  list-purpule: #7874cf,
  
);

$colors-border: (
  nav-bar: #adafea,
  button-border: rgba(140, 151, 178, 0.4)
);